<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="menu-sidebar-content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar-list menu">
                <li class="nav-item"><a routerLink="/employeeList">Products</a></li>
                <li class="nav-item"><a routerLink="#">Stores</a></li>
                <li class="nav-item"><a routerLink="#">Brands</a></li>
                <li class="nav-item"><a routerLink="#">Settings</a></li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->