header {
    padding: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    letter-spacing:1px;
    background: rgb(248,222,189);
    background: linear-gradient(15deg, rgba(248,222,189,1) 0%, rgba(237,83,81,1) 100%);
}

/* Add an orange background color to navbar links on hover 
.navbar a:hover {
    background-color: rgba(19, 17, 17, 0.178);
}
*/ 