.flex-container {
    display: flex;
    height: 100%;
    width: 70%; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    display: inline-block;
    justify-content: flex-start;
    max-width: 14rem; 
    margin: 3px;
    text-align: center;
    font-size: 0.5rem;
}   

.flex-container > div > img {
    margin-top: 0px;
    margin: 0; 
    height: 40%;
    width: 40%; 
}

h6, a {
    margin-top: 0px;
    padding: 0;
    color:white;
}