<div class="flex-container">
    <div>
        <img src="/assets/images/Home1.gif" title="Home">
        <h6><a href="#">Home</a></h6>
    </div>
    <div>
        <img src="/assets/images/customers.jpeg" title="Customers">
        <h6><a routerLink="/employees">Customers</a></h6>
    </div>

    <div>
        <img src="/assets/images/employee-icon.png" title="Employees">
        <h6><a routerLink="/employees">Employees</a></h6>
    </div>
    <div>
        <img src="/assets/images/settings.jpeg" title="Settings">
        <h6><a href="#">Settings</a></h6>
    </div>
    <div>
        <img src="/assets/images/shop-store.jpeg" title="Store">
        <h6><a routerLink="/employees">Stores</a></h6>
    </div>
    <div>
        <img src="/assets/images/cart.png" title="Shopping">
        <h6><a href="#">Shopping</a></h6>
    </div>
    <div>
        <img src="/assets/images/product2.png" title="Product">
        <h6><a href="#">Products</a></h6>
    </div>
    <div>
        <img src="/assets/images/brand.png" title="Brands">
        <h6><a routerLink="/employees">Brands</a></h6>
    </div>
    <div>
        <img src="/assets/images/category.png" title="Categories">
        <h6><a routerLink="/employees">Categories</a></h6>
    </div>
    <div>
        <img src="/assets/images/suppliers.jpeg" title="Suppliers">
        <h6><a href="#">Suppliers</a></h6>
    </div>
    <div>
        <img src="/assets/images/stock.png" title="Stock">
        <h6><a routerLink="/employees">Stocks</a></h6>
    </div>
    <div>
        <img src="/assets/images/security.png" title="Security">
        <h6><a routerLink="/employees">Security</a></h6>
    </div>
</div>