/* body {
  background-color: #0c2635; 
  margin: 0;  
  padding: 20px;
  background: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */