/* You can add global styles to this file, and also import other style files */

/* 
 * ----------------------------
 * Common CSS
 * ----------------------------
 */

 * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

body {
  background: url('~src/assets/images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-button {
    background: linear-gradient(99.35deg, rgba(34, 51, 201, 0.63) 21.34%, rgba(48, 190, 105, 0.7) 99.96%);
    backdrop-filter: blur(50px);
    text-align: center;
    letter-spacing: 1px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    /*line-height: 105%;*/
    position: absolute;
    width: 200px;
    height:35px;
    border-top-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
}

.main {
 padding: 60px;
} 

.content {
  text-align:justify;  
  overflow: auto;
} 